/*-- scss:defaults --*/

// fonts
@import 'https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap';

$font-family-sans-serif: 'Nunito Sans', sans-serif;
//$font-family: 'Source Code Pro', monospace;


$rosa: #E58D7D !default;

$presentation-heading-color: #15a7af;
$link-color: #ca6680;

